@model Assignment_task_2.Models.Customer
<!DOCTYPE html>
<html>
<head>
    <title>home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <style>
        body {
            /* background-image: url('https://t3.ftcdn.net/jpg/01/31/22/84/240_F_131228401_Sx9CgNcjxxYEsLCN81KGN4LIu6zFPD0h.jpg'); */
            background-size: cover;
            background-repeat: no-repeat;
        }

        .logo {
            margin-top: 66px;
        }

        .top {
            margin-top: 260px;
        }

        .detail {
            color: white;
            margin-left: 90px;
            font-size: 40px;
        }

        .details {
            color: lightgreen;
            font-size: 30px;
            margin-left: 90px;
        }

        .image {
            margin-top: 250px;
            margin-left: 300px;
        }

        .btn-medium {
            margin-top: 34px;
            margin-left: 70px;
            width: 150px;
            height: 40px;
            background-color: lightskyblue;
            color: black;
        }

        .main {
            height: 600px;
            width: 100%;
            display: flex;
            position: relative;
        }

        .box {
            position: absolute;
        }

        .main img {
            height: 100%;
            width: 100%;
        }

        .footer {
            color: white;
            background-color: darkslategrey;
            margin-top: 60px;
            height: 250px;
        }

        .view {
            width: 400px;
            height: 200px;
            text-align: center;
            margin-left: 140px;
        }

        .container {
            height: 300px;
        }

        .dropdown-toggle {
            margin-right: 30px;
        }

        .lefthead {
            margin-right: 10px;
        }

        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 10px;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .popup-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            max-width: 500px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <img src="https://www.playspots.in//wp-content/uploads/2018/10/WHITE.png" width="100px" class="img" style="margin-left:7px" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">

                <div class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle bi bi-person-gear" href="#" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                        <!-- Display user's email and name -->
                        @if (Model != null)
                        {
                            <li> <a class="dropdown-item bi bi-person-fill-check" href="#">  Username : @Model.name</a></li>
                            <li>
                                <a class="dropdown-item bi bi-envelope-check-fill" href="#">  Email : @Model.email</a>
                            </li>

                            <li><a class="dropdown-item bi bi-lock" href="/Add/HomeChangePass?email=@Model.email">Change Password</a></li>
                        }
                    </ul>
                </div>

                <div class="nav-item lefthead active">
                    <a class="nav-link bi bi-calendar-x h-5 w-5 " id="cancelBtn"> Cancel Booking</a>
                </div>
                <div class="nav-item active">
                    <a id="logoutLink" class="nav-link  bi bi-lock h-5 w-5" href="/Home/Logout"> Logout</a>
                </div>

            </div>
        </div>
        <div id="popupBox" class="popup">
            <form asp-action="CancelBooking">
                <div class="popup-content">
                    <span class="close">&times;</span>
                    <h2 class="heading">Search Booking Details</h2><br /><hr />
                    <input class="mt-2 form-control" type="text" id="name" name="customerName" placeholder="Enter Name"><br />
                    <input class="mt-2 form-control" type="text" id="contactNumber" name="customerNumber" placeholder="Enter Contact Number"><br />
                    <input class="mt-2 form-control" type="text" id="groundName" name="groundName" placeholder="Enter Ground Name"><br />
                    <input class="mt-2 form-control" type="date" id="date" name="date"><br />
                    <button type="submit" id="searchBtn" class="mt-2 btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </nav>

    <div class="main">
        <img src="https://t3.ftcdn.net/jpg/01/31/22/84/240_F_131228401_Sx9CgNcjxxYEsLCN81KGN4LIu6zFPD0h.jpg"></img>

        <div class="box row">
            <div class="col-6">
                <h4 class="detail top">YOUR</h4>
                <h4 class="detail">NEAREST</h4>
                <h5 class="detail">SPORTS_COMMUNITY</h5>
                <h5 class="details fw-bold">IS JUST A TAP AWAY</h5>
                <div>
                    <a id="Button" href="/Add/HomePage" class="btn btn-medium btn-dark text-uppercase btn-rounded">To Book Venue</a>
                    <a id="tournamentBtn" class="btn btn-medium btn-dark text-uppercase btn-rounded" data-toggle="modal" data-target="#tournamentModal">
                        Turnament
                    </a>
                </div>

                @* model *@
                <div class="modal fade" id="tournamentModal" tabindex="-1" role="dialog" aria-labelledby="tournamentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tournamentModalLabel">Tournament Ground Booking Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Your form content goes here -->
                                <form id="tournamentForm" asp-action="TurnamentBooking">
                                   <div class="row">
                                        <div class="col-6 form-group">
                                            <label for="customerName">Enter Name</label>
                                            <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Enter Your Name">
                                        </div>
                                        <div class="col-6 form-group">
                                            <label for="number">Enter Number</label>
                                            <input type="text" class="form-control" id="number" name="number" placeholder="Enter Your Number">
                                        </div>
                                   </div>
                                   
                                    <!-- Email input -->
                                    <div class="form-group"> 
                                        <label for="email">Enter Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                                    </div>
                                  
                                    <div class="form-group">
                                        <label for="sport">Select Sports Name</label>
                                        <select class="form-control" id="sport" name="sport">
                                            <option value="" disabled selected>------ Select Sports Turnament ------</option>
                                            <option value="Cricket Turnament">Cricket</option>
                                            <option value="Footboll Turnament">Footboll</option>
                                            <option value="Hockey Turnament">Hockey</option>
                                            <option value="Badminton Turnament">Badminton</option>
                                        </select>
                                    </div>

                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <label for="startdate">Start Date</label>
                                            <input type="date" class="form-control" id="startdate" name="startdate" placeholder="Enter Start Date" required min="@DateTime.Today.ToString("yyyy-MM-dd")">
                                        </div>
                                        <div class="col-6 form-group">
                                            <label for="enddate">End Date</label>
                                            <input type="date" class="form-control" id="enddate" name="enddate" placeholder="Enter End Date" required min="@DateTime.Today.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <h5>Price:<span id ="price"> </span>/- </h5>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="submitTournament" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <img src=" https://www.playspots.in/wp-content/uploads/2020/02/meet-pals.png" class="image" style="width:250px; height:280px;">


            </div>
        </div>
    </div>

    <div class="container row mt-3">
        <div class="col-md-6 mt-5">
            <div class="view mt-5">
                <h3 class="bi bi-calendar-check-fill"></h3>
                <h4>Book</h4>
                <p>
                    Once you’ve found the perfect ground, court or gym, Connect with the venue through the Book Now Button to make online booking.
                </p>
            </div>
        </div>

        <!-- Second Box -->
        <div class="col-md-6 mt-5">
            <div class="view mt-5">
                <h3 class="bi bi-dribbble"></h3>
                <h4>Play</h4>
                <p>
                    You’re the hero, you’ve found a stunning turf or court, booked with ease and now it's time to play. The scene is set for your epic match.
                </p>
            </div>
        </div>
    </div>
    <div class="container row mt-4" style="margin-left:60px;">
        <div class="col-md-3">
            <div class="">
                <img src="https://km-landing.s3.ap-south-1.amazonaws.com/Images/km-homePageNew/non-textCr.png" class="card-img-top" alt="Image 1">
                <div class="card-body ml-4">
                    <h5 class="card-title ml-5"><a href="TurfGround?description=Green Cricket Turf">Cricket</a></h5>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="">
                <img src="https://km-landing.s3.ap-south-1.amazonaws.com/Images/km-homePageNew/non-textFt.png" class="card-img-top" alt="Image 2">
                <div class="card-body  ml-4">
                    <h5 class="card-title ml-5"><a href="TurfGround?description=Green Football Turf">Football</a></h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <img src="~/css/img/Hocman1.jpg" style="height:290px; class="card-img-top" alt="Image 3">
            <div class="card-body  ml-4">
                <h5 class="card-title ml-5"><a href="TurfGround?description=Green Hockey Turf">Hockey</a></h5>
            </div>

        </div>

        <div class="col-md-3">
            <div class="">
                <img src="https://km-landing.s3.ap-south-1.amazonaws.com/Images/km-homePageNew/non-textBdm.png" class="card-img-top" alt="Image 4">
                <div class="card-body  ml-4">
                    <h5 class="card-title ml-5"><a href="TurfGround?description=Green Badminton Turf">Badminton</a></h5>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="overflow-hidden footer">
        <div class="container">
            <div class="row">
                <div class="footer-top-area">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-4 mt-4  col-sm-6">
                            <div class="footer-menu">
                                <h3 style="font-family:cursive; margin-left:7px;">PlaySpots</h3>
                                <p class="mt-2">Book your sports ground hassle-free with GroundBooker! Enjoy convenient online booking for your favorite sports venues. Explore special offers during sports events and tournaments. Reserve your spot with confidence! Our platform ensures a seamless experience for all your ground booking needs. </p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 pb-3">
                            <div class="footer-menu mt-5">
                                <img src="https://www.playspots.in//wp-content/uploads/2018/10/WHITE.png" style="width:200px;margin-left:60px;" class="logo">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 pb-3">
                            <div class="footer-menu mt-4 contact-item">
                                <h5 class="widget-title text-uppercase pb-2 ml-5">Contact Us</h5>
                                <p class=" ml-5">
                                    Do you have any queries or suggestions? <a href="">kapil1114@gmail.com</a>
                                </p>
                                <p class=" ml-5">
                                    If you need support? Just give us a call.<br /> <a href="">+91 8889756824</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </footer>

    <script>
        $(document).ready(function () {
            $('#tournamentBtn').click(function () {
                $('#tournamentModal').modal('show');
            });

            $("#submitTournament").click(function (e) {
                e.preventDefault(); // Prevent default form submission behavior
                debugger;
                var formData = {
                    customerName: $('#customerName').val(),
                    number: $('#number').val(),
                    email: $('#email').val(),
                    sport: $('#sport').val(),
                    startdate: $('#startdate').val(),
                    enddate: $('#enddate').val(),
                    price: $('#price').text()
                };
                // Perform AJAX form submission
                $.ajax({
                    url: '/Add/TurnamentBooking', 
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        alert(response.message);
                        window.location.href = 'HomeIndex';
                    },
                    error: function () {
                        // Handle error
                        alert("An error occurred while processing the request");
                    }
                });
            });

        });
        // document.addEventListener('DOMContentLoaded', (event) => {
        //     document.getElementById('logoutLink').addEventListener('click', function (e) {
        //         e.preventDefault();
        //         const logoutConfirmed = confirm('Are you sure you want to log out?');
        //         if (logoutConfirmed) {

        //             window.location.href = this.href;
        //         }

        //     });
        // });

        var cancelBtn = document.getElementById('cancelBtn');
        var popup = document.getElementById('popupBox');
        var closeBtn = document.querySelector('.close');

        function showPopup() {
            popup.style.display = 'block';
        }

        function closePopup() {
            popup.style.display = 'none';
        }

        cancelBtn.addEventListener('click', showPopup);

        // Event listener for close button click
        closeBtn.addEventListener('click', closePopup);

        // Close the popup when user clicks outside of it
        window.addEventListener('click', function (event) {
            if (event.target == popup) {
                closePopup();
                location.reload();
            }
        });

        document.getElementById("startdate").addEventListener("change", function () {
            var startDate = new Date(document.getElementById("startdate").value);
            var endDateInput = document.getElementById("enddate");

            // Set the minimum selectable date for the end date input to be one day after the selected start date
            startDate.setDate(startDate.getDate() + 1);
            var minEndDate = startDate.toISOString().split('T')[0]; // Format the date as YYYY-MM-DD

            // Update the min attribute of the end date input
            endDateInput.setAttribute("min", minEndDate);
        });

        //Price of turnament
        document.getElementById("startdate").addEventListener("change", updatePrice);
        document.getElementById("enddate").addEventListener("change", updatePrice);

        function updatePrice() {
            var startDate = new Date(document.getElementById("startdate").value);
            var endDate = new Date(document.getElementById("enddate").value);

            // Calculate the number of days between the start and end dates
            var timeDiff = Math.abs(endDate.getTime() - startDate.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

            // Calculate the price based on the number of days
            var price = 6000 * diffDays;

            // Display the calculated price
            document.getElementById("price").textContent = price ;
        }
   
    </script>
</body>
</html>
